<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="C:\SatendraKumar\NoonPayment\Project\ProgramData\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <variable name="logDirectory" value="C:\SatendraKumar\NoonPayment\Project\ProgramData"/>
  <variable name="logFileName" value="Webhooks.log"/>
  <variable name="AppName" value="OnboardApi"/>

  <targets>
    <target name="file" xsi:type="File"
            archiveFileName="${logDirectory}/Webhooks/archives/${shortdate}-{###}.log"
            archiveAboveSize="10485760"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            keepFileOpen="false"
            concurrentWrites="true"
            fileName="${logDirectory}/${logFileName}"
            layout=" ${longdate} | ${aspnet-traceidentifier} | ${machinename} | ${build-version} | ${level:uppercase=true} | ${projectName} | ${logger} | ${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" levels="Fatal,Error,Warn,Info,Trace" writeTo="file" />
  </rules>

</nlog>